table {
    margin: auto;
    color: aliceblue;
}

body {
    background-color: darkslateblue;
    font-family: "Agency FB";
    border: 1px;
}

header {
    width:100%;
    float:left;
    background-color: aquamarine;
    text-align: center;
}

nav {
    width:20%;
    float:left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 4px 0 0 4px;
    width:80%;
}

a {
    color: aliceblue;
    padding: 8px 0 8px 8px;
    text-decoration: none;
    border: 1px solid;
    text-align: center;
}

ul a {
    display: block;
}

a:hover{
    color: cornsilk;
}

main {
    width:60%;
    float:left;
    color: aliceblue;
    font-size:large;
    text-align: center;
}

main img {
    padding-top: 2px;
    margin: 0 auto;
}



footer {
    width:100%;
    float:left;
    text-align: center;
}